---
import { Dashboard as DashboardComponent } from '@/components/dashboard';
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <main class='w-full flex justify-center p-4'>
    <DashboardComponent />
  </main>
</MainLayout>
