---
import { MainLayout } from '@/layouts/MainLayout';
---

<MainLayout>
  <div>
    <!-- <MainTopBar />
    <Projects /> -->
    <!-- <TodayTasksWidget numberOfTasks={3} /> -->
  </div>
</MainLayout>
