---
import MainLayout from '@/layouts/MainLayout.astro';
import { InboxContent } from '@/components/InboxContent';
---

<MainLayout>
  <main class='w-full flex justify-center p-4'>
    <InboxContent client:load />
  </main>
</MainLayout>
