---
import {
  Inbox,
  Calendar1,
  CalendarDays,
  Hash,
  House,
  Box,
  PanelRightOpen,
} from 'lucide-react';
import Link from './ui/link';
import List from './ui/list';
import Divider from './ui/divider';
---

<aside class='w-64 p-2 border-gray-200 border-2 rounded-md bg-gray-50'>
  <div class='top | flex items-center justify-between pb-6 px-4'>
    <div class='logo | flex items-center justify-center gap-2'>
      <Box size={16} strokeWidth={'3px'} />
      <p class='font-bold'>DoneList</p>
    </div>
    <button>
      <PanelRightOpen />
    </button>
  </div>
  <div class='main-section | flex flex-col justify-center'>
    <ul>
      <List>
        <Link href='/home'>
          <div class='content | flex items-center gap-x-2 px-4'>
            <House />
            <p>Dashboard</p>
          </div>
        </Link>
      </List>

      <List>
        <Link href='/inbox'>
          <div class='content | flex items-center gap-x-2 px-4'>
            <Inbox />
            <p>Inbox</p>
          </div>
        </Link>
      </List>

      <List>
        <Link href='/today'>
          <div class='content | flex items-center gap-x-2 px-4'>
            <Calendar1 />
            <p>Today</p>
          </div>
        </Link>
      </List>

      <List>
        <Link href='/upcoming'>
          <div class='content | flex items-center gap-x-2 px-4'>
            <CalendarDays />
            <p>Upcoming</p>
          </div>
        </Link>
      </List>
    </ul>
  </div>
  <Divider />
  <div class='projects | flex flex-col justify-center'>
    <p class='px-4 font-semibold'>Projects</p>
    <ul>
      <List>
        <Link href='/'>
          <div class='content | flex items-center gap-x-1 px-5'>
            <Hash size={14} className='text-sky-500' />
            <p>Upcoming</p>
          </div>
        </Link>
      </List>
    </ul>
  </div>
</aside>
