---
import '../styles/global.css';
import SidebarProvider from '@/components/sidebar/SidebarProvider';
---

<div class='app-provider text-primary flex'>
  <SidebarProvider client:only='react' />
  <slot />
</div>
